@import "tailwindcss";

@theme {
	--color-neutral-900: hsl(222, 15%, 5%);
	--color-neutral-800: hsl(222, 15%, 15%);
	--color-neutral-700: hsl(222, 15%, 17%);
	--color-neutral-600: hsl(222, 15%, 20%);
	--color-neutral-550: hsl(222, 15%, 25%);
	--color-neutral-500: hsl(222, 15%, 40%);
	--color-neutral-400: hsl(222, 15%, 60%);
	--color-neutral-300: hsl(222, 15%, 75%);
	--color-neutral-200: hsl(222, 25%, 85%);
	--color-neutral-100: hsl(222, 25%, 95%);
}